extends ../index.pug

block variables 
    - var template = "about"

block content
    .about
        .about_wrapper
            section.about_gallery
                .about_gallery_wrapper
                    each media in about.data.gallery
                        figure.about_gallery_media
                            img.about_gallery_media_image(data-src=media.image.url alt=media.image.media) 

            each section in about.data.body
                if section.slice_type == "title"
                    h2.about_title(data-animation="title")!=section.primary.text.replace(/\n/, "<br>")

                if section.slice_type == "content"
                    section.about_content(class=section.primary.type === 'Left' ? 'about_content--left' : 'about_content--right')
                        .about_content_wrapper
                            .about_content_box
                                p.about_content_label!=section.primary.label

                                .about_content_description!=PrismicH.asHTML(section.primary.description)

                            figure.about_content_media
                                img.about_content_media_image(data-src=section.primary.image.url alt=section.primary.image.media)

                if section.slice_type == "highlight"
                    section.about_highlight 
                        .about_highlight_wrapper
                            if section.primary.label
                                p.about_highlight_label=section.primary.label
 
                            h3.about_highlight_title(data-animation="title")=section.primary.title

                            each media in section.items
                                figure.about_highlight_media 
                                    img.about_highlight_media_image(data-src=media.image.url alt=media.image.media)
        
                if section.slice_type == "gallery"
                    section.about_gallery
                        .about_gallery_wrapper
                            each media in section.items
                                figure.about_gallery_media
                                    img.about_gallery_media_image(data-src=media.image.url alt=media.image.media)

            